<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
</head>
<body style="text-align: center; padding-top: 200px">
<div th:if="${param.error}" style="color: red">
    Invalid username and password.
</div>
<div th:if="${param.logout}" style="color: red">
    You have been logged out.
</div>
<div th:if="${registered}" style="color: green">
    You have been registered successfully.
</div>
<form th:action="@{/login}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
<form th:action="@{/register}" method="get">
    <input type="submit" value="Register" style="font-size: 16px; color: black">
</form>
</body>
</html>